# ENV
**/.python-version
**/.vscode
**/.idea
**/.DS_Store
# Generated
/target/
/bindings/wysiwyg-ffi/.cargo/
/.generated/
/bindings/wysiwyg-wasm/pkg/
/bindings/wysiwyg-wasm/node_modules/
/platforms/android/example/.idea/
/platforms/android/out/
/platforms/ios/lib/WysiwygComposer/Sources/WysiwygComposer/WysiwygComposer.swift
/platforms/ios/lib/WysiwygComposer/WysiwygComposerFFI.xcframework
/platforms/ios/lib/coverage/*
/build/
.DS_Store

# Swift release
WysiwygComposerFFI.xcframework.zip
matrix-rich-text-editor-swift
